Repository renovate-bot/zw, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies 📦, enhancement ✨, maintenance 📈, i18n 🌐, annex 💠, package 📦, plugin 🧿, ci 🤖

.github/labeler.yml:

documentation 📝:
  - any: ['blog/**.md', 'docs/**/*.md', 'community/**/*.md']
    all: ['!i18n/**/*.md']
dependencies 📦:
  - 'package.json'
enhancement ✨:
  - 'functions/**'
  - 'src/**'
maintenance 📈:
  - '.github/CODEOWNERS'
  - '.github/*.md'
  - '.github/*.yml'
  - '.github/*.json'
  - '.vscode'
  - 'tsconfig.json'
  - 'babel.config.js'
  - 'docusaurus.config.js'
  - '.prettierrc'
  - '.prettierignore'
  - '.markdownlint.json'
  - 'pnpm-lock.yaml'
  - 'yarn.lock'
i18n 🌐:
  - 'i18n/**'
annex 💠:
  - 'docs/ecosystem/annexes/*.md'
  - 'i18n/**/docusaurus-plugin-content-docs/current/ecosystem/annexes/*.md'
package 📦:
  - 'docs/ecosystem/packages*.md'
  - 'i18n/**/docusaurus-plugin-content-docs/current/ecosystem/packages/*.md'
plugin 🧿:
  - 'docs/ecosystem/plugins/*.md'
  - 'i18n/**/docusaurus-plugin-content-docs/current/ecosystem/plugins/*.md'
ci 🤖:
  - '.github/workflows/*.yml'
  - '.all-contributorsrc'
  - 'crowdin.yml'
  - 'netlify.toml'

[CodeFactor] Apply fixes
  src/components/APITable/index.tsx
Labels: enhancement ✨

theme(strip testgrounds + linters)
  .eslintignore
  .eslintrc.json
  .prettierignore
  package.json
  pnpm-lock.yaml
  src/components/APITable/index.tsx
  src/components/FeaturesList/index.tsx
Labels: dependencies 📦, enhancement ✨, maintenance 📈

theme(strip testgrounds + linters)
  i18n/de/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/lt/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/tr/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/01_installation.md
Labels: i18n 🌐

crowdin(sync)
  .pre-commit-config.yaml
  package.json
Labels: dependencies 📦

New Crowdin translations by Github Action (#264)
  i18n/de/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/es/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/lt/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/pl/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/tr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/02_overview.md
Labels: i18n 🌐

lint(Fixed .md)
  i18n/de/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/es/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/lt/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/pl/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/tr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/02_overview.md
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, maintenance 📈, i18n 🌐

lint(.gitignore)
  .gitignore
Labels: none

lint(husky pretty-quick)
  .husky/pre-commit
Labels: none

lint(husky pretty-quick)
  .husky/pre-commit
Labels: none

lint(functions)
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, maintenance 📈

New Crowdin translations by Github Action (#266)
  i18n/de/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/es/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/lt/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/pl/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/tr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/02_overview.md
Labels: i18n 🌐

workspace(lockfile / scripts)
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, maintenance 📈

workspace(lockfile / scripts)
  package.json
Labels: dependencies 📦

Update 01_6_plugins.md
  docs/gallery/collection/01_6_plugins.md
Labels: none

Update 01_6_plugins.md
  docs/gallery/collection/01_6_plugins.md
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: maintenance 📈

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Update sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Delete sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci 🤖

Delete labels.yml
  .github/labels.yml
Labels: maintenance 📈

Update 02_packages.md
  docs/ecosystem/packages/02_packages.md
Labels: none

workspace(workers)
  functions/_assets.mts
  functions/_assets.ts
  functions/_handle.mts
  functions/_middleware.mts
  functions/_middleware.ts
  package.json
  pnpm-lock.yaml
  src/workers/drafts/cf-request.js
  src/workers/drafts/esbuild/package.json
  src/workers/drafts/esbuild/pnpm-lock.yaml
  src/workers/drafts/esbuild/src/index.js
  src/workers/drafts/esbuild/wrangler.toml
  src/workers/drafts/worker.js
  wrangler.toml
Labels: dependencies 📦, enhancement ✨, maintenance 📈

workspace(workers)
  functions/_assets.mjs
  functions/_middleware.js
Labels: enhancement ✨

workspace(workers)
  wrangler.toml
Labels: none

Create worker.yml
  .github/workflows/worker.yml
Labels: ci 🤖
