Repository renovate-bot/zw, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies 📦, enhancement ✨, maintenance 📈, i18n 🌐, annex 💠, package 📦, plugin 🧿, ci 🤖

.github/labeler.yml:

documentation 📝:
  - any: ['blog/**.md', 'docs/**/*.md', 'community/**/*.md']
    all: ['!i18n/**/*.md']
dependencies 📦:
  - 'package.json'
enhancement ✨:
  - 'functions/**'
  - 'src/**'
maintenance 📈:
  - '.github/CODEOWNERS'
  - '.github/*.md'
  - '.github/*.yml'
  - '.github/*.json'
  - '.vscode'
  - 'tsconfig.json'
  - 'babel.config.js'
  - 'docusaurus.config.js'
  - '.prettierrc'
  - '.prettierignore'
  - '.markdownlint.json'
  - 'pnpm-lock.yaml'
  - 'yarn.lock'
i18n 🌐:
  - 'i18n/**'
annex 💠:
  - 'docs/ecosystem/annexes/*.md'
  - 'i18n/**/docusaurus-plugin-content-docs/current/ecosystem/annexes/*.md'
package 📦:
  - 'docs/ecosystem/packages*.md'
  - 'i18n/**/docusaurus-plugin-content-docs/current/ecosystem/packages/*.md'
plugin 🧿:
  - 'docs/ecosystem/plugins/*.md'
  - 'i18n/**/docusaurus-plugin-content-docs/current/ecosystem/plugins/*.md'
ci 🤖:
  - '.github/workflows/*.yml'
  - '.all-contributorsrc'
  - 'crowdin.yml'
  - 'netlify.toml'

Update worker.yml
  .github/workflows/worker.yml
Labels: ci 🤖

Update worker.yml
  .github/workflows/worker.yml
Labels: ci 🤖

Update deploy-gh-pages-test.yml
  .github/workflows/deploy-gh-pages-test.yml
Labels: ci 🤖

Update ci-perf.yml
  .github/workflows/ci-perf.yml
Labels: ci 🤖

Update worker.yml
  .github/workflows/worker.yml
Labels: ci 🤖

Delete pre-commit.yml
  .github/workflows/pre-commit.yml
Labels: ci 🤖

Update worker.yml
  .github/workflows/worker.yml
Labels: ci 🤖

Update ci-perf.yml
  .github/workflows/ci-perf.yml
Labels: ci 🤖

workspace(workers)
  package.json
Labels: dependencies 📦

workspace(general)
  docs/intro.md
  docusaurus.config.js
  functions/_handle.mts
  functions/index.js
  package.json
  pnpm-lock.yaml
  src/components/Svg/Twitter.svg
  src/css/custom.css
  src/pages/index.module.css
  src/pages/index.tsx
  src/workers/drafts/[[path]].ts
  src/workers/drafts/[id].js
  src/workers/drafts/chain.js
  src/workers/drafts/getkv.ts
  src/workers/drafts/getobj.ts
  wrangler.toml
Labels: dependencies 📦, enhancement ✨, maintenance 📈

[CodeFactor] Apply fixes to commit 9e886cb
  src/pages/index.module.css
Labels: enhancement ✨

workspace(general)
  .all-contributorsrc
  .eslintrc.json
  .pre-commit-config.yaml
  docs/intro.md
  docusaurus.config.js
  functions/_middleware.js
  package.json
  pnpm-lock.yaml
  src/components/APITable/index.tsx
  src/pages/index.module.css
  src/pages/index.tsx
  tsconfig.json
Labels: dependencies 📦, enhancement ✨, maintenance 📈, ci 🤖

workspace(general)
  package.json
Labels: dependencies 📦

New Crowdin translations by Github Action (#277)
  i18n/de/docusaurus-plugin-content-docs/intro.md
  i18n/es/docusaurus-plugin-content-docs/intro.md
  i18n/fr/docusaurus-plugin-content-docs/intro.md
  i18n/ja/docusaurus-plugin-content-docs/intro.md
  i18n/ko/docusaurus-plugin-content-docs/intro.md
  i18n/lt/docusaurus-plugin-content-docs/intro.md
  i18n/pl/docusaurus-plugin-content-docs/intro.md
  i18n/ru/docusaurus-plugin-content-docs/intro.md
  i18n/tr/docusaurus-plugin-content-docs/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/intro.md
Labels: i18n 🌐

workspace(general)
  package.json
  pnpm-lock.yaml
  src/pages/index.tsx
Labels: dependencies 📦, enhancement ✨, maintenance 📈

workspace(general)
  src/css/custom.css
Labels: enhancement ✨

workspace(general)
  docusaurus.config.js
Labels: maintenance 📈

workspace(headers)
  static/_headers
Labels: none

Create wrangler.yml
  .github/workflows/wrangler.yml
Labels: ci 🤖

workspace(workers)
  functions/_assets.js
  functions/_middleware.js
  functions/bindings.d.ts
  functions/index.js
  package.json
  src/pages/index.tsx
Labels: dependencies 📦, enhancement ✨

Update wrangler.yml
  .github/workflows/wrangler.yml
Labels: ci 🤖

workspace(css)
  src/css/custom.css
Labels: enhancement ✨

workspace(crowdin)
  .pnpm-debug.log
  pnpm-lock.yaml
Labels: maintenance 📈

New Crowdin translations by Github Action (#280)
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/02_overview.md
Labels: i18n 🌐

Update docusaurus monorepo to v0.0.0-4765
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, maintenance 📈

New Crowdin translations by Github Action (#286)
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/zi_code.md
Labels: i18n 🌐

ci(build kv)
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, maintenance 📈

workspace(lockfile)
  pnpm-lock.yaml
Labels: maintenance 📈

ci(update scripts)
  package.json
Labels: dependencies 📦

ci(update scripts 2)
  package.json
Labels: dependencies 📦

Pin dependencies (#289)
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, maintenance 📈

worker(rw ES Module)
  functions/index.js
Labels: enhancement ✨

workspace(minor)
  .gitignore
  docusaurus.config.js
Labels: maintenance 📈

workspace(crowdin fixes)
  .stylelintrc.json
  .trunk/trunk.yaml
  i18n/ja/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/zi_code.md
Labels: i18n 🌐

workspace(lockfile)
  pnpm-lock.yaml
  versions.json
Labels: maintenance 📈

Update docusaurus monorepo to v0.0.0-4781 (#291)
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, maintenance 📈
